 <style>
   .ok{
     width: 100%;
     height: 100%;
     

   }
 </style>
 {{#if isAuthenticated}}
      {{#if writer}}
     <div id="editor">
    <p>This is the editor content.</p>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/12.1.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
            window.editor = editor;
        } )
        .catch( err => {
            console.error( err.stack );
        } );
</script> 
      {{else}}
      khong phai writer   
      {{/if}}
      {{/if}}